* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --light-light-gray: rgba(120, 118, 118, 0.1);
  --light-gray: rgba(120, 118, 118, 0.5);

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

html {
  background-color: var(--light-light-gray);
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  background-color: var(--light-light-gray);
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: var(--teal);
}

.navbar a {
  float: left;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: var(--gray);
  color: var(--white);
}

.navbar a:active {
  background-color: var(--orange);
  color: var(--white);
}

form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  outline: 1px solid;
  width: 400px;
  background-color: var(--teal);
}

div > label {
  width: 200px;
  display: inline-block;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 14px;
}

input[type="submit"] {
  display: inline-block;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5px 30px;
}

input[type="submit"]:hover {
  background-color: var(--gray);
  color: var(--white);
}

input[type="reset"] {
  display: inline-block;
  padding: 5px 30px;
}

input[type="reset"]:hover {
  background-color: var(--gray);
  color: var(--white);
}

fieldset {
  border: none;
  margin-top: 1rem;
  font-size: medium;
}
